{% extends 'base.html.twig' %}

{% block title %}New Todo{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <h1>New Todo</h1>
    {{ form(form) }}
    <a class="btn btn-outline-secondary" type="button" href="{{ path('todo_index') }}">Back</a>
{% endblock %}
